
body {
    font-family: Garamond, serif;
    margin: 0;
    padding: 0;
    background-color: wheat;
    overflow: hidden;
    text-align: center;
    font-size: 18;
}


.icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
    position: fixed;
}

.icon-bar a {
    float: left;
    text-align: center;
    width: 20%;
    padding: 12px 0;
    transition: all 0.2s ease;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #ffffff;
    border-radius: 10px;
}

.active {
    background-color: wheat;
    border-radius: 10px;
}

.content {
    padding: 200px;
    padding-top: 70px;
}

h1, h2{
    font-weight: bold;
}